.button {
    position: relative;
    display: block;
    margin: 0 19px;
    padding: 17px 35px 18px 36px;
    font-family: 'Open Sans', 'Arial'sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff; 
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 50px;   
}

