.download-app {
    width: 320px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    background-image: url(../img/back-download.png);
}

.download-app__list {
    padding: 0 58px;
    margin: 32px 0 0 0;
    list-style: none;
    display: flex;   
}

.download-app__compatibility {
    margin: 0;
    padding: 28px 46px 35px 45px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c3c5c8;
    text-align: center;
}

.download-app__title {
    display: none;
}

.download-app__image {
    width: 43px;
    height: 47px;
    padding: 0 34px 0 0;
}