.page-contacts {

}

.page-contacts__question {
    font-size: 24px;
    font-weight: 300;
    color: #283645;
    padding: 0 35px;
    text-align: center;
}

.page-contacts__feedback {
    font-size: 24px;
    font-weight: 300;
    color: #283645;
    padding: 0 35px;
    text-align: center;
}

.page-contacts__phone, 
.page-contacts__sent,
.page-contacts__street {
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
}