<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>«Pink»</title>
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
  //= "../blocks/page-header/page-header.html"

  //= "../blocks/page-main/page-main.html"

  <h1 class="visually-hidden">«Pink» –
    Фотографии пользователей</h1>

  //= "../blocks/download-app/download-app.html"

  //= "../blocks/advantages/advantages.html"

  <section class="effect">
    <h3 class="effect__title">Эффект на 24 часа!</h3>
    <p class="effect__description">
      Британские ученые провели исследование и доказали,
      что положительный эффект от использования приложения
      длится целые сутки!
    </p>
    <a href="#" class="effect__info">Узнать больше об исследовании</a>
  </section>
  
  <section class="reviews">
    <div class="reviews__wrapper slider">
      <h2 class="visually-hidden">Отзывы о нас</h2>
      <ul class="reviews__list slider__list">
        <li class="reviews__item">
          <b class="reviews__name">Николай Петров</b>
          <p class="reviews__age-work">
            25 лет, водитель трамвая
          </p>
          <p class="reviews__text">
            «Это приложение перевернуло мой мир
            и позволило по-новому взглянуть на
            привычные серые вещи! А еще я
            познакомился со своей будущей женой
            в комментариях к выложенной
            фотографии!»
          </p>
        </li>
        <li class="reviews__item">
          <b class="reviews__name">Николай Петров</b>
          <p class="reviews__age-work">
            25 лет, водитель трамвая
          </p>
          <p class="reviews__text">
            «Это приложение перевернуло мой мир
            и позволило по-новому взглянуть на
            привычные серые вещи! А еще я
            познакомился со своей будущей женой
            в комментариях к выложенной
            фотографии!»
          </p>
        </li>
      </ul>
      <button class="reviews__prev" type="button">Предыдущий отзыв</button>
      <button class="reviews__next" type="button">Следующий отзыв</button>
    </div>
    <p class="reviews__toggles slider__toggles">
      <button class="slider__toggle" type="button">1</button>
      <button class="slider__toggle" type="button">2</button>
      <button class="slider__toggle" type="button">3</button>
    </p>
  </section>
  
  <section class="price-list">
    <div class="price-list__wrapper slider"></div>
    <h2 class="visually-hidden">Прайс-лист «Pink»</h2>
    <div class="price-list__table slider-list">
      <ul class="price-list__cost">
        <li class="price-list__tariff">
          БАЗА
          1,99 USD
        </li>
        <li class="price-list__tariff">
          СТАНДАРТ
          3,99 USD
        </li>
        <li class="price-list__tariff">
          АНЛИМ
          9,99 USD
        </li>
        <li class="price-list__name">
          Розовый фильтр
        </li>
        <li class="price-list__included">
          Да
        </li>
        <li class="price-list__included">
          Да
        </li>
        <li class="price-list__included">
          Да
        </li>
        <li class="price-list__name">
          Смайлики
        </li>
        <li class="price-list__included">
          Нет
        </li>
        <li class="price-list__included">
          Да
        </li>
        <li class="price-list__included">
          Да
        </li>
        <li class="price-list__name">
          Комментарии
        </li>
        <li class="price-list__included">
          Нет
        </li>
        <li class="price-list__included">
          Нет
        </li>
        <li class="price-list__included">
          Да
        </li>
      </ul>
    </div>
    <p class="price-list__toggles slider__toggles">
      <button class="slider__toggle" type="button">1</button>
      <button class="slider__toggle" type="button">2</button>
      <button class="slider__toggle" type="button">3</button>
    </p>
    </div>
  </section>

  <section class="page-contacts">
    <p class="page-contacts__question">
      Остались вопросы?
      Свяжитесь с нами!
    </p>
    <ul class="page-contacts__feedback">
      <li class="page-contacts__number">
        <b class="contacts__call">
          Звоните:
        </b>
        <a class="page-contacts__phone" href="#">
          +7 (812) 555-66-66
        </a>
      </li>
      <li class="page-contacts__mail">
        <b class="contacts__read">
          Пишите:
        </b>
        <a class="page-contacts__sent" href="mail@htmlacademy.ru">
          mail@htmlacademy.ru
        </a>
      </li>
      <li class="page-contacts__adress">
        <b class="page-contacts__guests">
          Приезжайте в гости:
        </b>
        <a class="page-contacts__adds" href="https://yandex.ru/maps/-/COafa84m">
          ул. Большая Конюшенная, 19/8
        </a>
      </li>
    </ul>
  </section>
  </main>

  <h3 class="visually-hidden">Как нас найти</h3>
  <img class="page-footer__map-image" src="#" alt="Карта с адресом офиса">

  <footer class="page-footer">
    <div class="page-footer__socials socials">
      <a class="page-footer__logo">
        <img class="page-footer__logo-image" src="#" alt="Pink">
      </a>
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--twitter" href="https://twitter.com">Мы в Твиттере</a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--facebook" href="https://www.facebook.com">Мы в Фейсбуке</a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com">Мы в Ютюбе</a>
        </li>
      </ul>
    </div>

    <div class="page-footer__copyright copyright">
      <p class="copyright__text">Разработано:</p>
      <a class="button copyright__link" href="https://htmlacademy.ru">HTML Academy
        <img class="copyright__img" src="#">
      </a>
    </div>
  </footer>
</body>

</html>
