<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>«Pink»</title>
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
  //= "../blocks/page-header/page-header.html"

  //= "../blocks/page-main/page-main.html"

  <h1 class="visually-hidden">«Pink» –
    Фотографии пользователей</h1>

  //= "../blocks/download-app/download-app.html"

  //= "../blocks/advantages/advantages.html"

  //= "../blocks/effect/effect.html"

  //= "../blocks/reviews/reviews.html"
  
  //= "../blocks/price-list/price-list.html"

  //= "../blocks/page-contacts/page-contacts.html"

 
  </main>

  //= "../blocks/page-footer/page-footer.html"

  
</body>

</html>
