.page-footer__map-image {
  width: 100%;
  background-image: url(../img/map.png);
}

.social__icon-twitter {
  width: 18px;
  height: 14px;
}

.social__icon-twitter {
    width: 18px;
    height: 14px;
  }

  .social__icon-facebook{
    width: 9px;
    height: 18px;
  }

  .social__icon-youtube {
    width: 15px;
    height: 13px;
  }

  .copyright__img {
      width: 27px;
      height: 34px;
  }

 